## Copyright (C) 2012 - 2018 ENCRYPTED SUPPORT LP <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

Source: pkg-manager-no-autoupdate
Section: misc
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@riseup.net>
Build-Depends: debhelper (>= 9), genmkfile
Homepage: https://github.com/Whonix/pkg-manager-no-autoupdate
Vcs-Browser: https://github.com/Whonix/pkg-manager-no-autoupdate
Vcs-Git: https://github.com/Whonix/pkg-manager-no-autoupdate.git
Standards-Version: 3.9.8

Package: pkg-manager-no-autoupdate
Architecture: all
Depends: ${misc:Depends}
Suggests: pkg-manager-longer-timeouts
Replaces: kde-apper-no-autoupdate
Description: Deactivates automatic updates for Package Manager APT and Apper
 Useful in context of networks with limited traffic quota, slow networks and
 anonymity distributions.
 .
 In latter case, the default automatic updates interval would be too
 predictable (expectable amount of traffic every X), thus eventually be
 vulnerable for traffic fingerprinting.
 .
 Disabling Apper automatic updates only takes effect for newly created user
 accounts. Not for existing user accounts. This is most useful to help Linux
 distribution maintainers setting divergent defaults.
